/*  experiment_web.css */


/* Element Selectors */
html {scroll-behavior: smooth;}

body {
    background-color:green;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    margin: 15px auto;
}

footer {
    color: white;
    background-color:cornflowerblue;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #888888;
}

table {width: 100%;}

td {padding-left: 5px;}

hr {
    color: #d7d7d7;
    background-color: #d7d7d7;
    border-width: 0;
    height: 1px;
}

label {margin-right: 2.5px;}

form {display:block}

h1 {color: rgb(49, 106, 211);}

a, a:visited {color: cornflowerblue;}

a:hover {color: purple;}

input[type="text"] {margin-bottom: 2.5px;}

#education_section > ul {margin-top: 5px;}

table#basic-info-table>tr>th, table#basic-info-table>tr>td{
    border: 1px solid orange;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 33.33333% 66.66666%;
}


/* Grid Items */
div.grid-container > div {
    background-color: white;
    color: cornflowerblue;
    border: 2px solid black;
    padding: 15px 10px;
}

div.width-onethird {grid-column:1/2; grid-row:1/2; margin-right: 7.5px;}

div.width-twothird {grid-column:2/3; grid-row:1/2; margin-left: 7.5px;}

div.width-threethird {grid-column:1/3; grid-row:2/3;}

div.menu-container {grid-column:1/3; grid-row:3/4; position:sticky; bottom:0;}

div.width-onethird, div.width-twothird, div.width-threethird {margin-bottom: 15px;}

div.width-onethird, div.width-twothird, div.width-threethird, div.menu-container {box-shadow: 0px 0px 10px 2px #888888 !important;}


/* Contents of Grid Items */
div.image-container {margin: -15px -10px 5px;}

div.grid-container > div > div > h1 {margin-bottom: -5px; margin-top: 5px; font-size: 1.65em;}

.menu-container > ul > li {display: inline;}

.menu-container>ul>li::before {content: "\2022"}

div.experience-level {
    border: 1px solid #d7d7d7;
    width:100%;
    border-radius: 15px;
    height:20px;
    background-color: #d7d7d7;
    margin-bottom: 5px;
}

div.experience-fill {
    border: 1px solid cornflowerblue;
    border-radius: 15px;
    height: 15px;
    background-color: cornflowerblue;
    margin: -1px 0px 0px;
    color: white;
    padding: 2.5px 0px;
}

div#program_skills_section > ul > li {
    display: block;
    margin-bottom: 2.5px;
}


/* Miscellaneous Styling */
.margin-top {margin-top: 15px;}
.margin-bottom {margin-bottom: 15px;}

.content-align-center {text-align: center;}

.border-orange {border: 1px solid orange;}

.dark-blue {color: rgb(49, 106, 211);}


/* PHONE MODE */
@media (max-width: 645px) {
    body {background-color: red;}
    
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
    }
    
    div.width-onethird {grid-column:1; grid-row:1; margin-right: auto;}

    div.width-twothird {grid-column:1; grid-row:2; margin-left: auto;}

    div.width-threethird {grid-column:1; grid-row:3;}

    div.menu-container {grid-column:1; grid-row:4; position:sticky; bottom:0;}
}

@media (min-width: 1445px) {
    body {
        background-color: yellow;
    }
}

@media (max-width: 1445px) {
    body {margin: 15px !important;}
}

@media print {
    #contact_section {display: none;}
}