/* mycss_web.css */

html {scroll-behavior: smooth;}

h1 {margin-bottom: 10px;}

p {text-indent: 1.5em;}

td {
    text-align: left;
    vertical-align: text-top;
}

th {
    padding-right: 30px;
    text-align: left;
    vertical-align: text-top;
}

ul {margin-top: 2px;}



/*
div
span
ul
li
img
table
form
h1
p
a

*/