html {scroll-behavior: smooth;}

p {text-indent: 1.5em;}

td {
    text-align: left;
    vertical-align: text-top;
}

th {
    padding-right: 30px;
    text-align: left;
    vertical-align: text-top;
}

ul {margin-top: 2px;}

h1 {margin-bottom: 10px;}